body {
    margin:0;
}

header {
    background-color:#1f2937;
    height:40vw;
    margin:0;
}

h3 {
    font-size: 24px;
    color:#f9faf8;
    margin:0;
}

li {
    font-size:18px;
    color:#e5e7eb;
}

#title {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#title-text{
    color:#e5e7eb;
    font-size:18px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

#quote-div {
    background-color:#e5e7eb;
    font-size: 36px;
    font-family:light-italic;
}

#action-div {
    background-color: #3882f6;
    color:#f9faf8;  
}

button {
    background-color: #3882f6;
    color:#f9faf8;
}
footer {
    background-color:#1f2937;
    height:7vw;
}

#copy {
    margin:0;
    color:#f9faf8;
}