body {
    margin:0;
}



header {
    background-color:#1f2937;
    height:40vh;
    margin:0;
    
}
#top-div {

    display:flex;
    justify-content:space-evenly;
    
}
#title-div {
    display: flex;
    
    justify-content: space-evenly;
}
#maybe {
    flex-direction: column;
}
#hope {
    display: flex;

}

h3 {
    font-size: 24px;
    color:#f9faf8;
    margin:0;
    display: block;
}

li {
    font-size:18px;
    color:#e5e7eb;
    display:block;
    float:right;
}
#big-img {
    display: flex;
    height: 150px;
    width: 350px;   
    align-self: center;
}
li {
    padding: 5px;
}

#big-button {
    border:none;
}

#title {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
    width:400px;
}

#title-text{
    color:#e5e7eb;
    font-size:18px;
    width:600px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

#quote-div {
    background-color:#e5e7eb;
    font-size: 36px;
    font-family:light-italic;
    display: flex;
    height:30vh;
    flex:1;
    align-items: center;
    justify-content: center;
}
#quote-text{
    width:75vw;
}

#action-div {
    background-color: #3882f6;
    color:#f9faf8; 
    display: flex;
    width: 50vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 9px;;
    margin-left: 20vw;
    margin-top:12vh;
    margin-bottom: 12vh;

}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 10px;
    height: 35px;
    width: 125px;
    border:3px solid white;
}
footer {
    background-color:#1f2937;
    height:3vh;
}

#copy {
    margin:0;
    color:#f9faf8;
}
#img-div{
    display: flex;
    justify-content: space-evenly;
}
#description{
    display: flex;
    justify-content:space-around;
    width: 88vw;
}
.small-img{
    height:175px;
    width: 150px;
    border:solid 3px blue;
    border-radius: 15px;
}
#action-p {
    margin-left:15px;
    margin-right:15px;
}
button:hover{
    background-color:grey
}